<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <title>Rock Paper Scissors</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <img src="http://img0.joyreactor.com/pics/post/gif-rock-paper-scissors-3635248.png"/>
  <h1>ROCK        PAPER        SCISSORS</h1>
  <p>Rock paper scissors is a game that requires a shed-load of skill, talent and luck. If you can't play it, be ashamed, very ashamed...</p>
  <a href="/welcome">Consult Aunty Joo on the fecking rules of this simple-ass game</a>
  <%= yield %>
</body>
</html>