<h1>THE GODDAMN RULES</h1>

<p>In the address bar, the first player needs to put in their choice of either rock, paper or scissors, then the second player needs to put in theirs, like so:</p>

<p>localhost:4567/rock/paper</p>
